
body {
    margin: 0;
    font-family:'Petrona', serif;
    font-size: 100%;
}

div, h1, h2, h3, h4, h5, h6, p, ul, ol, a {
    font-family:'Petrona', serif;


}

header {
	background-color: #FFE6C9;
}

.logo {
	float: left;
	margin-right: 3em;
	margin-left: 2em;
}

.headertext {
	font-family: "Petrona", serif;
	text-align: center;
	line-height: 1.2;
	margin-top: 2.2em;
}

.phonenumbertext {
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: bold;
	text-align: center;
	line-height: 0.9;
	margin-bottom: 0.3em;
	padding-top: 0.1em;
}

.top-bar {
	background-color: #555555;
	color: #FFFFFF;	
}

.hloaddress li {
	color: #c2510f;}